<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldu.bs.dao.BigClassMapper">
  <resultMap id="BaseResultMap" type="com.ldu.bs.bean.BigClass">
    <id column="big_id" jdbcType="INTEGER" property="bigId" />
    <result column="big_name" jdbcType="VARCHAR" property="bigName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    big_id, big_name
  </sql>
  <select id="selectByExample" parameterType="com.ldu.bs.bean.BigClassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from big_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from big_class
    where big_id = #{bigId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from big_class
    where big_id = #{bigId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ldu.bs.bean.BigClassExample">
    delete from big_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ldu.bs.bean.BigClass">
    insert into big_class (big_id, big_name)
    values (#{bigId,jdbcType=INTEGER}, #{bigName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ldu.bs.bean.BigClass">
    insert into big_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bigId != null">
        big_id,
      </if>
      <if test="bigName != null">
        big_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bigId != null">
        #{bigId,jdbcType=INTEGER},
      </if>
      <if test="bigName != null">
        #{bigName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ldu.bs.bean.BigClassExample" resultType="java.lang.Long">
    select count(*) from big_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update big_class
    <set>
      <if test="record.bigId != null">
        big_id = #{record.bigId,jdbcType=INTEGER},
      </if>
      <if test="record.bigName != null">
        big_name = #{record.bigName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update big_class
    set big_id = #{record.bigId,jdbcType=INTEGER},
      big_name = #{record.bigName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ldu.bs.bean.BigClass">
    update big_class
    <set>
      <if test="bigName != null">
        big_name = #{bigName,jdbcType=VARCHAR},
      </if>
    </set>
    where big_id = #{bigId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ldu.bs.bean.BigClass">
    update big_class
    set big_name = #{bigName,jdbcType=VARCHAR}
    where big_id = #{bigId,jdbcType=INTEGER}
  </update>
</mapper>